In [15]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('anova_training.csv')
df.head()

   Medication 1  Medication 2  Medication 3
0          12.0            16          14.0
1          15.0            14          17.0
2          17.0            21          20.0
3          12.0            15          15.0
4           NaN            19           NaN

## Below code calculates n values , mean values and variance values and double x bar.

In [78]:
alpha = 0.01

In [47]:
column_name_list = list(df.columns)
column_name_list

['Medication 1', 'Medication 2', 'Medication 3']

In [61]:
column_count = []

for x in column_name_list:
    column_count.append(df.count()[x])

column_count

[4, 5, 4]

In [62]:
x_bar_list = []
x_variance_list = []
for x in column_name_list:
    x_bar_list.append(df[x].mean(skipna=True))
    x_variance_list.append(df[x].var(skipna=True))
    
x_bar_list

[14.0, 17.0, 16.5]

In [65]:
x_double_bar = sum(df.sum()/sum(column_count))

## Below code calculates F value

In [69]:
ssb_list = []
for x in range(len(column_count)):
    temp = column_count[x] * (x_bar_list[x] - x_double_bar) ** 2
    ssb_list.append(temp)
    
ssb = sum(ssb_list)
del ssb_list
ssb

21.923076923076923

In [71]:
ssw_list = []
for x in range(len(column_count)):
    temp = (column_count[x] - 1) * x_variance_list[x]
    ssw_list.append(temp)
    
ssw = sum(ssw_list)
del ssw_list
ssw

73.0

In [80]:
dfN = len(column_count) - 1
msb = ssb / dfN
msb

10.961538461538462

In [81]:
dfD = sum(column_count) - len(column_count)
msw = ssw / dfD
msw

7.2999999999999998

In [77]:
f = msb / msw
f

1.5015806111696524

## Below code gets F-table and validates our hypothesis

In [79]:
import scipy.stats

In [88]:
f_not = scipy.stats.f.ppf(q=1-alpha,dfn=dfN,dfd=dfD)
f_not

7.5594321575478993

In [89]:
if f_not < f:
    print("Reject NULL Hypothesis")
else:
    print("Fail to reject NULL Hypothesis")

Fail to reject NULL Hypothesis