In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Decision_Trees_Training.csv")
df.head()

               age  income student credit_rating buys_computer
0     less_than_30    high      no          fair            no
1     less_than_30    high      no     excellent            no
2         31_to_40    high      no          fair           yes
3  greater_than_40  medium      no          fair           yes
4  greater_than_40     low     yes          fair           yes

#### Calculate total number of Yes and No from Target Label 'buys_computer'

In [3]:
unique,t_count = np.unique(df['buys_computer'],return_counts=True)
dataset_size = len(df)
print("Total Number of No and Yes Labels : ",t_count)
print("Unique Labels of buys_computer : ",unique)

Total Number of No and Yes Labels :  [5 9]
Unique Labels of buys_computer :  ['no' 'yes']

In [4]:
probab_of_classes = []
for x in range(len(unique)):
    result = t_count[x]/dataset_size
    probab_of_classes.append(result)
    
print("Probab of Classes : ",probab_of_classes)

Probab of Classes :  [0.35714285714285715, 0.6428571428571429]

### Let us classify X when : Age<=30 , income = medium , student = yes and credit = fair

In [5]:
def get_Yes_No_count(coloumn_name,value_in_coloumn):
    temp_count = []
    yes_count = 0
    no_count = 0
    
    for j in range(dataset_size):
        if df.iloc[j][coloumn_name] == str(value_in_coloumn):
            if "yes" in df.iloc[j]['buys_computer']:
                yes_count += 1
                    
            elif "no" in df.iloc[j]['buys_computer']:
                no_count += 1
                                    
    temp_count.append(yes_count)
    temp_count.append(no_count)
    
    return temp_count

### Let us now get values of Yes and No for particular data to be classified.

In [6]:
col_name = input("Enter coloumn name to find Yes and No Counts : ")
value = input("Enter value of coloumn name : ")
data_age = get_Yes_No_count(col_name,value)
print("Yes No count : ",data_age)

Enter coloumn name to find Yes and No Counts : age
Enter value of coloumn name : less_than_30
Yes No count :  [2, 3]

In [7]:
col_name = input("Enter coloumn name to find Yes and No Counts : ")
value = input("Enter value of coloumn name : ")
data_income = get_Yes_No_count(col_name,value)
print("Yes No count : ",data_income)

Enter coloumn name to find Yes and No Counts : income
Enter value of coloumn name : medium
Yes No count :  [4, 2]

In [8]:
col_name = input("Enter coloumn name to find Yes and No Counts : ")
value = input("Enter value of coloumn name : ")
data_student = get_Yes_No_count(col_name,value)
print("Yes No count : ",data_student)

Enter coloumn name to find Yes and No Counts : student
Enter value of coloumn name : yes
Yes No count :  [6, 1]

In [9]:
col_name = input("Enter coloumn name to find Yes and No Counts : ")
value = input("Enter value of coloumn name : ")
data_credit = get_Yes_No_count(col_name,value)
print("Yes No count : ",data_credit)

Enter coloumn name to find Yes and No Counts : credit_rating
Enter value of coloumn name : fair
Yes No count :  [6, 2]

### Let us apply our formula for class = Yes,given X for all attributes

In [10]:
probab_yes = 0
probab_yes = (data_age[0] / t_count[1]) * (data_income[0] / t_count[1]) * (data_student[0] / t_count[1]) * (data_credit[0] / t_count[1])
probab_yes *= t_count[1]/dataset_size
probab_yes

0.028218694885361547

In [11]:
probab_no = 0
probab_no = (data_age[1]/t_count[0]) * (data_income[1]/t_count[0]) * (data_student[1]/t_count[0]) * (data_credit[1]/t_count[0])
probab_no *= t_count[0]/dataset_size
probab_no

0.0068571428571428577

In [12]:
if probab_yes > probab_no:
    print("X belongs to Class YES")
else:
    print("X belongsto Class NO")

X belongs to Class YES